:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  font-size: 20px;
  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ---colors--- */
  --main-color: rgb(24, 30, 101);
  --dialog-color: rgb(10, 14, 42);
  --nav-bar-color: rgb(30, 51, 123);
  --nav-bar-text: rgba(158, 164, 189, 0.87);

  /* ---dimensions--- */
  --nav-width: 18vw;
  --week-day-width: 18vw;
  --task-card-width: 12vw;
  --task-card-height: 12vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  color: whitesmoke;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: auto;
  scrollbar-color: rgb(130, 130, 130, 0.3) rgba(110, 110, 110, 0.4);
}

#background {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 0% 60%;
  z-index: 1;
}

/*---------------
Navigation Pane
----------------*/

#nav-bar {
  min-height: 100vh;
  width: var(--nav-width);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--nav-bar-text);
  background-color: var(--nav-bar-color);
  opacity: 0.8;
  z-index: 3;
}

.nav-header {
  margin: 1rem;
  height: 4rem;
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  color: whitesmoke;
}

.nav-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.nav-item {
  display: flex;
  margin: 0.2rem;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-title {
  justify-content: space-between;
  color: whitesmoke;
}

.nav-selected {
  color: whitesmoke;
}

.counter {
  border-radius: 100%;
  line-height: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  align-self: center;
  margin: 0.5rem;
  background-color: var(--nav-bar-text);
  color: rgba(98, 102, 118, 0.87);
}

.nav-priority-counter {
  height: 1.8rem;
  width: 1.8rem;
  line-height: 1.8rem;
  margin: 0.4rem;
  border-radius: 100%;
  text-align: center;
  align-self: center;
  color: whitesmoke;
}

#priority-holder {
  display: flex;
}

#nav-new-project-form {
  display: flex;
}

#nav-new-project-input {
  margin-left: 1rem;
  font-size: 1rem;
}

/*---------------
 Main Content
----------------*/

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 98vh;
  width: 100%;
  z-index: 2;
}

.completed {
  color: darkgrey;
}

/*---------------
 Today content
----------------*/

.day-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 2%;
}

.day-header,
.day-toDo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  background-color: rgb(24, 30, 101);
  opacity: 0.7;
}

/*---Header---*/
.day-header {
  height: 4rem;
}

.day-title {
  margin-left: 3rem;
}

.day-date {
  margin-left: auto;
  margin-right: 1rem;
}

/*---Main---*/
.day-fade-in {
  max-height: 80vh;
  overflow-y: auto;
}

.completed-button {
  position: relative;
  width: 1.2vw;
  height: 1vw;
  line-height: 1vw;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  text-align: center;
}

.completed-button:hover {
  cursor: pointer;
}

.day-toDo-item {
  width: 100%;
  margin-left: 1rem;
}

.day-toDo-item-list {
  font-size: 0.6rem;
}

.delete-button {
  color: rgb(180, 180, 180);
  font-size: 1rem;
  margin-right: 1rem;
}

.delete-button:hover {
  cursor: pointer;
}

/*---Footer---*/
.day-add-task {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(24, 30, 101);
  opacity: 0.6;
  margin-top: auto;
}

.day-add-icon {
  margin: 0 0.5rem;
}

.day-add-input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  border: none;
  resize: none;
  background-color: rgb(24, 30, 101);
}

/*---Animation---*/
.day-fade-in {
  width: 100%;
  animation: day-fade-in 0.8s ease-out;
  -webkit-animation: day-fade-in 0.8s ease-out;
  -ms-animation: day-fade-in 0.8s ease-out;
}

@keyframes day-fade-in {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

@-webkit-keyframes day-fade-in {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

@-ms-keyframes day-fade-in {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

/*---------------
 Upcoming content
----------------*/

/*---Main---*/
.week-content {
  display: flex;
  margin-top: 3rem;
  padding-left: 3rem;
  position: relative;
  left: var(--nav-width);
  margin-right: auto;
}

.week-day-content {
  margin: 0 1rem;
  height: fit-content;

  width: var(--week-day-width);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;

  background-color: rgb(0, 0, 0, 0.5);
}

.week-fade-in {
  max-height: 80vh;
  overflow-y: auto;
}

.week-toDo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.week-day-header {
  margin-left: 1rem;
}

.week-toDo-item {
  width: 100%;
  margin-left: 1rem;
}

.week-toDo-item-list {
  font-size: 0.6rem;
}

/*---add task---*/
.week-add-task {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
}

.week-add-icon {
  margin: 0 0.5rem;
}

.week-add-input {
  width: 100%;
  height: 100%;
  margin: 0 0.5rem;
  line-height: 2rem;
  font-size: 1rem;
  border: none;
  resize: none;
  background-color: rgb(0, 0, 0, 0.4);
}

/*---Animation---*/
.week-fade-in {
  width: 100%;
  animation: week-fade-in 0.2s linear;
  -webkit-animation: week-fade-in 0.2s linear;
  -ms-animation: week-fade-in 0.2s linear;
}

@keyframes week-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes week-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-ms-keyframes week-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

/*---------------
 allTask content
----------------*/

/*---Main---*/
.allTask-content {
  display: flex;
  flex-direction: column;
  position: relative;
  left: var(--nav-width);
  margin-top: 3rem;
  margin-right: auto;
  padding: 0 3rem;
  height: 80vh;
  width: calc(100vw - var(--nav-width));
  overflow-y: auto;
}

.allTask-header {
  display: flex;
  justify-content: start;
}

.allTask-date {
  display: flex;
  margin-bottom: 3rem;
}

.allTask-date-block {
  height: 2rem;
  min-width: 2rem;
  margin: 0 0.2rem;
  border-right: 2px solid rgb(83, 83, 83);
  border-bottom: 1px solid rgb(83, 83, 83);
  text-align: center;
  background-color: rgba(112, 112, 112, 0.4);
}

.allTask-fade-in {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.allTask-toDo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: var(--task-card-width);
  height: var(--task-card-height);
  margin: 5px 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.allTask-day-header {
  margin-left: 1rem;
}

.allTask-toDo-item {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-left: 1rem;
}

.allTask-toDo-item-list {
  font-size: 0.6rem;
}

/*---Animation---*/
.allTask-fade-in {
  width: 100%;
  animation: week-fade-in 0.2s linear;
  -webkit-animation: week-fade-in 0.2s linear;
  -ms-animation: week-fade-in 0.2s linear;
}

/*---------------
 project content
----------------*/

.projects-content {
  min-width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 2%;
  background-color: rgb(0, 0, 0, 0.5);
  margin: 2rem;
}

/*---Header---*/
.projects-header {
  height: 2rem;
  line-height: 2rem;
}

/*---Main---*/
.projects-fade-in {
  max-height: 73vh;
  width: 100%;
  overflow-y: auto;
}

.projects-toDo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  background-color: var(--main-color);
  opacity: 0.7;
}

.projects-toDo-item {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  margin-left: 1rem;
}

.projects-toDo-item-list {
  display: none;
}

/*---Footer---*/
.projects-add-task {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(24, 30, 101);
  opacity: 0.6;
  margin-top: auto;
}

.projects-add-icon {
  margin: 0 0.5rem;
}

.projects-add-input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  border: none;
  resize: none;
  background-color: rgb(24, 30, 101);
}

/*---Animation---*/

.projects-fade-in {
  width: 100%;
  animation: day-fade-in 0.8s ease-out;
  -webkit-animation: day-fade-in 0.8s ease-out;
  -ms-animation: day-fade-in 0.8s ease-out;
}

/*---------------
 priority content
----------------*/

.priority-content {
  min-width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 2%;
  background-color: rgb(0, 0, 0, 0.5);
  margin: 2rem;
}

/*---Header---*/
.priority-header {
  height: 2rem;
  line-height: 2rem;
}

/*---Main---*/
.priority-fade-in {
  max-height: 73vh;
  width: 100%;
  overflow-y: auto;
}

.priority-toDo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  opacity: 0.9;
}

.priority-toDo-item {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  margin-left: 1rem;
}

.priority-toDo-item-list {
  display: none;
}

/*---Animation---*/

/* .priority-fade-in {
  width: 100%;
  animation: day-fade-in 0.8s ease-out;
  -webkit-animation: day-fade-in 0.8s ease-out;
  -ms-animation: day-fade-in 0.8s ease-out;
} */

/*----------------
 Edit task dialog
-----------------*/

dialog {
  min-width: 24vw;
  background-color: var(--dialog-color);
  border-radius: 10px;
  border: none;
  transform: translateX(20%);
}

#dialog-title {
  background-color: var(--dialog-color);
  border: none;
  font-size: 1rem;
}

.notes-holder {
  display: flex;
  flex-direction: column;
}

#dialog-notes {
  background-color: var(--dialog-color);
}

.due-date-holder {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.due-date-value {
  padding: 0 0.5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: 1px solid white;
  margin-left: 1rem;
  border-radius: 1rem;
}

#delete-date {
  margin-left: 0.5rem;
}

#dueDate {
  width: 0;
  border: 0;
}

.dialog-button-holder {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.dialog-button {
  margin: 0.5rem;
  height: 2rem;
  width: 100%;
  background-color: var(--dialog-color);
  border: 1px solid rgb(49, 49, 49);
}

.priority-holder {
  display: flex;
  justify-content: space-between;
}

.priority-radio {
  display: none;
}

.priority-label {
  min-width: 4rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.4;
}

input[type="radio"]:checked + label {
  opacity: 1;
}

label {
  user-select: none;
  -webkit-user-select: none;
}

/*---Animation---*/

dialog {
  animation: dialog-fade-out 0.7s ease-out;
}

dialog[open] {
  animation: dialog-fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

@keyframes dialog-fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes dialog-fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(24, 30, 101, 0);
  }

  100% {
    background-color: rgb(24, 30, 101, 0.6);
  }
}
