:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  font-size: 20px;
  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: rgb(24, 30, 101);
  --dialog-color: rgb(10, 14, 42);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  color: whitesmoke;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#background {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  background-position: 0% 60%;
}

/*---------------
Navigation Pane
----------------*/

#nav-bar {
  min-height: 100vh;
  min-width: 14vw;
  display: flex;
  flex-direction: column;
  color: rgba(158, 164, 189, 0.87);
  background-color: rgb(30, 51, 123);
  opacity: 0.9;
}

.nav-header {
  margin: 1rem;
  height: 4rem;
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  color: whitesmoke;
}

.nav-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.nav-item {
  display: flex;
  margin: 0.2rem;
}

.nav-title {
  justify-content: space-between;
  color: whitesmoke;
}

.counter {
  border-radius: 100%;
  line-height: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  align-self: center;
  margin: 0.5rem;
  background-color: rgba(158, 164, 189, 0.87);
  color: rgba(98, 102, 118, 0.87);
}

/*---------------
 Main Content
----------------*/

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 98vh;
  width: 100%;
}

.completed {
  color: darkgrey;
}

/*---------------
 Today content
----------------*/

.day-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  border-radius: 2%;
}

.day-header,
.day-toDo {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  background-color: rgb(24, 30, 101);
  opacity: 0.7;
}

/*---------------
  Header
----------------*/
.day-header {
  height: 4rem;
}

.day-title {
  margin-left: 3rem;
}

.day-date {
  margin-left: auto;
  margin-right: 1rem;
}

/*---------------
   Main
----------------*/

.completed-button {
  height: 1rem;
  width: 1rem;
  line-height: 0.8rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  text-align: center;
}

.completed-button:hover {
  cursor: pointer;
}

.day-toDo-item {
  width: 100%;
  margin-left: 1rem;
}

.day-item-list {
  font-size: 0.6rem;
}

.day-item-name {
}

.delete-button {
  color: rgb(180, 180, 180);
  font-size: 1rem;
  margin-right: 1rem;
}

.delete-button:hover {
  cursor: pointer;
}

/*---------------
   Footer
----------------*/

.day-add-task {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: rgb(24, 30, 101);
  opacity: 0.6;
  margin-top: auto;
}

.day-add-icon {
  margin: 0 0.5rem;
}

.day-add-input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  border: none;
  resize: none;
  background-color: rgb(24, 30, 101);
}

/*---------------
 Animation
----------------*/

.day-fade-in {
  width: 100%;
  animation: fadeIn 0.8s ease-out;
  -webkit-animation: fadeIn 0.8s ease-out;
  -ms-animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

@-ms-keyframes fadeIn {
  0% {
    translate: 0 5%;
    opacity: 0;
  }
  100% {
    translate: 0;
    opacity: 0.8;
  }
}

/*---------------
 Upcoming content
----------------*/

/* --- Main (tasks) ---*/

.week-content {
  display: flex;
  margin-left: 3rem;
  margin-top: 3rem;
}

.week-day-content {
  margin: 0 1rem;
}
.week-toDo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0.5rem;
  border-bottom: 1px dashed white;

  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0.7;
}

.week-toDo-item {
  width: 100%;
  margin-left: 1rem;
}

.week-item-list {
  font-size: 0.6rem;
}
/* --- add task --- */
.week-add-task {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0.6;
  padding-top: 1rem;
}

.week-add-icon {
  margin: 0 0.5rem;
}

.week-add-input {
  width: 100%;
  height: 100%;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  border: none;
  resize: none;
  background-color: rgb(24, 30, 101);
}

/*----------------
 Edit task dialog
-----------------*/

dialog {
  min-width: 24vw;
  background-color: var(--dialog-color);
  border-radius: 10px;
  border: none;
  transform: translateX(20%);
}

#dialog-title {
  background-color: var(--dialog-color);
  border: none;
  font-size: 1rem;
}

.notes-holder {
  display: flex;
  flex-direction: column;
}

#dialog-notes {
  background-color: var(--dialog-color);
}

.due-date-holder {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.due-date-value {
  padding: 0 0.5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border: 1px solid white;
  margin-left: 1rem;
  border-radius: 1rem;
}

#delete-date {
  margin-left: 0.5rem;
}

#dueDate {
  width: 0;
  border: 0;
}

.dialog-button-holder {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.dialog-button {
  margin: 0.5rem;
  height: 2rem;
  width: 100%;
  background-color: var(--dialog-color);
  border: 1px solid rgb(49, 49, 49);
}

.tag-label {
  margin-right: 1rem;
}

/*---------------
 Animation
----------------*/

dialog {
  animation: dialog-fade-out 0.7s ease-out;
}

dialog[open] {
  animation: dialog-fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes dialog-fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes dialog-fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(24, 30, 101, 0);
  }

  100% {
    background-color: rgb(24, 30, 101, 0.6);
  }
}
